.center {
  margin: auto;
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
}

#stats, #hint {
  width: 150px;
  padding: 10px;
}

#stats {
  text-align: right;
}

#overlay {
  transition: opacity 1s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}


canvas {
  border: 2px solid black;
}

body {
  background: #DDD;
  font-family: "Courier New";
}
